@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-color: #fbeedb;
}


h1{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

h1:not(#home h1) {
    color: #1f5b25;
}

.navbar {
    background-color: #1f5b25;
    
}


.navbar a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 3px #dd0303;
}

.logo img {
    height: 40px;
}

.banner {
    background-image: url(../img/banner.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
}

.kave {
    color: #1f5b25;
    background-color: #fff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.kave h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.kave:hover {
    box-shadow: 0px 0px 5px #1f5b25;
}

#napiajánlat {
    position: absolute;
    width: 40px;
    right: 40px;
    top: 20px;
}

#home {
    background-image: url(../img/homebg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
}

#home .intro{
    color: #fff;
    height: 100vh;
}
footer {
    background-color: #1f5b25;
    color: #fff;
}

footer li {
    margin-left: 20px;
    list-style-type: none;
}
footer li>img {
    width: 15px;
    margin-right: 10px;
}